<tui-block-status>
  <img
    class="signInImage"
    tuiSlot="top"
    alt="Sign In"
    src="assets/images/sign-in.png"
  />
  <h4>サービスの利用を開始する</h4>
  <p>アカウント未登録の方はゲストユーザーとしてログイン</p>
  <form class="signInForm">
    <h3 class="tui-form__header tui-form__header_margin-top_none">
      Emailでログイン
    </h3>
    <div class="tui-form__row mb-1">
      <tui-input>
        メールアドレス<span class="tui-required"></span>
      </tui-input>
    </div>
    <div class="tui-form__row mb-1">
      <tui-input>
        パスワード<span class="tui-required"></span>
      </tui-input>
    </div>
    <div class="tui-form__buttons">
      <button tuiButton class="tui-form__button" size="l" type="submit">
        ログイン
      </button>
      <button tuiButton class="tui-form__button" size="l" type="button" appearance="flat">
        キャンセル
      </button>
    </div>
    <p>or</p>
    <div class="tui-form__button">
      <button tuiButton class="tui-form__button" size="l" type="submit">
        <span>Googleアカウントログイン</span>
      </button>
    </div>
    <div class="tui-form__button">
      <button tuiButton class="tui-form__button" size="l" type="button" (click)="signInAnonymously()">
        <span>ゲストユーザーとしてログイン</span>
      </button>
    </div>
  </form>
</tui-block-status>