<tui-block-status>
  <img
    class="signInImage"
    tuiSlot="top"
    alt="Sign In"
    src="assets/images/sign-in.png"
  />
  <h4>Please Sign In</h4>
  <p>You can try Anonymous Account</p>
  <form>
    <h3 class="tui-form__header tui-form__header_margin-top_none">
      REGISTRATION
    </h3>
    <div class="tui-form__row mb-1">
      <tui-input>
        氏名<span class="tui-required"></span>
      </tui-input>
    </div>
    <div class="tui-form__row mb-1">
      <tui-input>
        メールアドレス<span class="tui-required"></span>
      </tui-input>
    </div>
    <div class="tui-form__row mb-1">
      <tui-input>
        パスワード<span class="tui-required"></span>
      </tui-input>
    </div>
    <div class="tui-form__row mb-1">
      <tui-input>
        パスワード（確認用）<span class="tui-required"></span>
      </tui-input>
    </div>
    <div class="tui-form__buttons">
      <button tuiButton class="tui-form__button" size="l" type="submit">
        登録
      </button>
      <button tuiButton class="tui-form__button" size="l" type="button" appearance="flat">
        キャンセル
      </button>
    </div>
  </form>
</tui-block-status>