<ng-container *ngIf="places$().length === 0">
  <tui-notification status="warning" class="tui-space_top-2 tui-space_right-2 tui-space_left-2">
    <span>場所が登録されていません</span>
  </tui-notification>
  <button
    tuiButton
    icon="tuiIconUser"
    routerLink="/place/register"
    class="tui-button tui-space_top-4"
    size="l"
    type="button"
    appearance="secondary"
  >
    場所を登録する
  </button>
</ng-container>
<ng-container *ngIf="places$().length !== 0">
  <tui-notification class="tui-space_top-4 tui-space_left-4 tui-space_right-4">
    <a routerLink="/place/register">新しい場所を登録する</a>
  </tui-notification>
  <table tuiTable class="table tui-space_top-4" [columns]="columns">
    <thead>
      <tr tuiThGroup>
        <th tuiTh *ngFor="let column of columns">
          {{ column }}
        </th>
      </tr>
    </thead>
    <tbody tuiTbody [data]="places$()">
      <tr *ngFor="let item of places" tuiTr>
        <td *tuiCell="'名称'">{{ item.name }}</td>
        <td *tuiCell="'住所'">{{ item.address }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>