<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<tui-root>
<!-- App Header -->
<tui-app-bar
class="appbar">
  <button
      tuiIconButton
      tuiSlot="left"
      icon="tuiIconMenuLarge"
      title="Menu"
      type="button"
      (click)="toggle(true)"
      (tuiActiveZoneChange)="toggle($event)"
      class="menu-button"
  ></button>
  <label
      tuiLabel="App Name"
      class="reversed"
  >
     <h1>{{ title }}</h1> 
  </label>
  <a
        tuiIconButton
        tuiSlot="right"
        icon="tuiIconUserLarge"
        title="User"
    ></a>
    <button
        tuiIconButton
        tuiSlot="right"
        icon="tuiIconSettingsLarge"
        title="Settings"
    ></button>
</tui-app-bar>
<nav
tuiTabBar
class="tabs"
*ngIf="isLogin"
>
<a
*ngFor="let item of items; let index = index"
tuiTabBarItem
routerLinkActive
routerLink="/{{ item.path }}"
icon="{{ item.icon }}"
>
{{ item.label }}
</a>
</nav>
<div *tuiSidebar="open">
    <tui-tiles
    class="tiles"
    [(order)]="order"
>
    <tui-tile
        *ngFor="let item of items; let index = index"
        tuiTileHandle
        class="tile"
        [style.order]="order.get(index)"
    >
        <div class={{item.path}}>
            <tui-svg src="{{item.icon}}" class="icon"></tui-svg>
            <a
              tuiLink
              routerLink="/{{ item.path }}"
            >
            {{ item.label }}
        </a>
            </div>
    </tui-tile>
</tui-tiles>
</div>

<!-- App Content -->
<router-outlet *ngIf="isLogin()"></router-outlet>
<div *ngIf="!isLogin()" class="loginComponent">
    <!-- sign in and sign up component here -->
    <app-sign-in></app-sign-in>
</div>
</tui-root>