<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<tui-root>
<!-- App Header -->
<tui-app-bar>
  <button
      tuiIconButton
      tuiSlot="left"
      icon="tuiIconMenuLarge"
      title="Menu"
      type="button"
      (click)="toggle(true)"
      (tuiActiveZoneChange)="toggle($event)"
  ></button>
  <label
      tuiLabel="App Name"
      class="reversed"
  >
     <h1>{{ title }}</h1> 
  </label>
  <a
        tuiIconButton
        tuiSlot="right"
        icon="tuiIconUserLarge"
        title="User"
    ></a>
    <button
        tuiIconButton
        tuiSlot="right"
        icon="tuiIconSettingsLarge"
        title="Settings"
    ></button>
</tui-app-bar>
<div *tuiSidebar="open">
    <tui-tiles
    class="tiles"
    [(order)]="order"
>
    <tui-tile
        *ngFor="let item of items; let index = index"
        tuiTileHandle
        class="tile"
        [style.order]="order.get(index)"
    >
        <div class="content">
            <tui-svg src="{{item.icon}}" class="icon"></tui-svg>
            <a
              tuiLink
              routerLink="/"
            >
            {{ item.label }}
        </a>
            </div>
    </tui-tile>
</tui-tiles>
</div>

<router-outlet></router-outlet>

</tui-root>